<!DOCTYPE html>
<html>
<head>
  <title>404 Not Found</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      color: #333;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    h1 {
      font-size: 10em;
      margin: 0;
    }

    p {
      font-size: 1.2em;
      text-align: center;
    }

    img {
      width: 100px;
      height: 100px;
    }
  </style>
</head>
<body>
  <div>
    <img src="/logo-square.png" alt="Never Miss Pilates Logo" />
    <h1>404</h1>
    <p>The URL you're trying to access does not exist, has been moved or belongs to a record that has been deleted.</p>
  </div>
</body>
</html>
